.form-control {
    margin: 13px 0;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control input {
    font: inherit;
    width:  100%;
    padding: 3px;
    box-sizing: border-box;
}

#game-configuration {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

#game-configuration ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#game-configuration li {
    margin: 10px;
    padding: 10px;
    width: 50%;
    background-color: #ebd2ff;
}

#game-configuration h3 {
     font-size: 20px;
     margin: 5px 0;
     color: rgb(94,4,168);
}

#game-configuration p {
    font-weight: bold;
    font-size: 30px;
    color: rgb(47,48,2);
    margin: 5px 0;
}

